## Bivariate Statistics
Bivariate means two variables

In [3]:
import pandas as pd
df = pd.DataFrame({"Bill ($)" : [34,108,64,88,99,51],"Tip Amount ($)" :[5,17,11,8,14,5]})

In [4]:
df

   Bill ($)  Tip Amount ($)
0        34               5
1       108              17
2        64              11
3        88               8
4        99              14
5        51               5